body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(gng1.jpg);
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header {
    position: absolute;
    background: rgba(43, 42, 42, 0.803);
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}
header .logo {
    color: antiquewhite;
    line-height: 60px;
    font-size: 35px;
    float: left;
    font-weight: bold;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a{
    color:antiquewhite;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active {
    color: antiquewhite;
    background-color: black;
}
.content {
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}
.cpr{
    top: 95%;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
}