@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --black: #2c2c54;
    --orange: #ff9f1a;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--black);
    padding:1rem;
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    font-weight: bolder;
    font-size: 1.7rem;
    color: var(--black);
    cursor: pointer;
    background: #fff;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #f9f9f9;
    flex: 1 1 30rem;
}

.products .box-container .box .content {
    padding: 1.5rem;
}

.products .box-container .box img {
    height: 25rem;
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, .1));
    margin: 8rem 2rem;
}


.products .box-container .box .icons a:hover {
    background: var(--orange);
    color: #fff;
}

.products .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.products .box-container .box .content .price {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 1rem 0;
}

.products .box-container .box .content .price span {
    color: var(--orange);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.products .box-container .box .content .stars {
    padding-bottom: 1rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--orange);
}